*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	 background: #F0EFED;
  background-image: -webkit-linear-gradient(bottom, #7FAAF1, #7FAAF1);
  background-image: linear-gradient(to top, ##C3D3EA, ##C3D3EA);
  font-family: 'Lato', sans-serif;
}
.menu{
	display: flex;
	width: 90%;
    margin: auto;
    
}
.menu a{
	flex-grow: 1;
	background: white;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	margin: auto;
	font-size: 20px;
	color: #B2C3DE;
}
.menu a:hover{
	color: #6199F4;
}
img{
	width: 100%;
	height: 100%;
	
   
}
.portafolio{
	width: 90%;
	max-width: 1400px;
	margin: auto;
}
#content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}
.content-img{
	width: 300px;
	border: 1px solid white;
	justify-content: space-between;
	position: relative;

}
#img{
	width: 100%;
	
}
.portafolio-text{
	position: absolute;
	bottom: 0;
	padding: 20px;
	
	color: #fff;
	width: 100%;
	border-radius: 0 0 20px 20px;
	text-align: center;
}
footer {
	display: flex;
	width: 90%;
    
  
  
    position: fixed;
   
    bottom: 0;
   
  
   
}
footer a{
	flex-grow: 1;
	background: white;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	margin: auto;
	font-size: 20px;
	color: #B2C3DE;

}
footer a:hover{
	color: #6199F4;
}
.portafolio-text i{
	    margin: 7px;
    background: #ACF7B9;
    border-radius: 50%;
    font-size: 17px;
}
.modal{
	position: fixed;
	width: 100%;
	height: 100vh;
	
	display: flex;
	z-index: 1;
	justify-content: center;
	align-items: center;
}
.modal__img{
	width: 95%;
}
.modal__boton{

}
.profile__card{
	width: 90%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	height: 100%;

}
.header__modal{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.header__modal img{
	width: 100%;
	height: 100%;
	position: relative;
}
.datos_api{
	position: absolute;
	top: 58px;
	left: 0;
	width: 100%;
	color: white;
}
.content__modal{
	padding: 10px;
	overflow: hidden;
	text-align: center;
	    color: black;
    position: relative;
}